@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["LoginPageLabel"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        <div class="col-md-4 login-box">
            <section>
                <form method="post" action="Login">
                    <h4>@Localizer["LoginPageLabel"]</h4>
                    <hr />
                    <div class="form-group">
                        <label>@Localizer["UseNameLabel"]</label>
                        <input type="text" name="userName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>@Localizer["PasswordLabel"]</label>
                        <input type="password" name="password" class="form-control" required />
                    </div>
                    @if (ViewBag.ShowErrMsg != null && ViewBag.ShowErrMsg)
                    {
                        <div class="form-group">
                            <span class="text-danger">@Localizer["ErrorMsg"]</span>
                        </div>
                    }
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">@Localizer["LoginButtonLabel"]</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

</body>
</html>
